/*Application Height*/
.Application-height{
    height: 100vh;
}

/*header height*/
.header-height{
    height: 12.5vh;
}

/*Body height*/

.body-height{
    height: 75vh;
}

.body-width{
    min-width: 75vh;
}

/*max-menu dimensions*/
.max-menu-dimensions{
    width: 25vh;
    height: 75vh;
}

/*muin-menu dimensions*/
.min-menu-dimensions{
    width: 16.5vh;
    height: 100%;
}

.responsive-page{
    overflow: hidden;
    margin: 0;
}

/*sidebar and cpanel dimensions*/
#sidebar-section{

}

#cpanel-section{

}

.cpanel-height{
    height: 74vh;
}

.menu-row{
    
}

.menu-buttons{
    height: 21vh
}